.nav-wrapper {
  background-color: #272727;
  width: 100%;
}

.nav-wrapper .elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 60px;
  background-color: #333;
  font-size: 30px;
}

.text a {
  text-align: center;
  text-decoration: none;
  padding: 14px 18px;
  color: #ff652f;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.text.active a {
  color: #fff;
  -webkit-transition: 1s;
  transition: 1s;
}

.text.active a:hover {
  border-bottom: 10px solid #fff;
}

.text a:hover {
  color: #fff;
  border-bottom: 10px solid #ff652f;
}

.socials {
  height: 33px;
  width: 33px;
  padding: 0px 14px 0px 14px;
  -webkit-transition: .5s;
  transition: .5s;
}

.socials:hover {
  opacity: 50%;
}

.contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5vh 15vw 0vh 15vw;
}

.data-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  font-size: 30px;
  margin: 2vh 0 2vh auto;
}

.data-wrapper .link {
  font-size: 30px;
  float: left;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 1.5em;
  line-height: normal;
  color: #fff;
  border-radius: 3px;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #272727), color-stop(50%, #ff652f)) right;
  background: linear-gradient(to left, #272727 50%, #ff652f 50%) right;
  background-size: 201% 100%;
  -webkit-transition: .25s ease-out;
  transition: .25s ease-out;
  margin: auto;
}

.data-wrapper .link:hover {
  background-position: left;
  color: #333;
}

.projects-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5vh 15vw 0vh 15vw;
}

.data-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.data-wrapper .text-wrapper {
  margin-top: 0;
  margin-bottom: 0;
}

.data-wrapper .text-wrapper a {
  float: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 30px;
  color: #ff652f;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.data-wrapper .text-wrapper a:hover {
  color: #fff;
  border-bottom: 5px solid #ff652f;
}

.data-wrapper .text-wrapper .description {
  float: left;
  color: #fff;
  font-size: 20px;
  margin-bottom: 5vh;
}

.data-wrapper .preview {
  height: 300px;
  border: 1px solid #ff652f;
  width: 600px;
  -webkit-transition: .5s;
  transition: .5s;
  vertical-align: middle;
  margin-bottom: 8vh;
}

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about-wrapper .text {
  margin: 5vh 5vw 0vh 15vw;
  font-size: 20px;
  -webkit-box-flex: 3;
      -ms-flex: 3 0 0%;
          flex: 3 0 0%;
  text-align: left;
}

.about-wrapper .myself {
  vertical-align: top;
  height: 396px;
  border: 1px solid #ff652f;
  width: 471.2px;
  margin: 5vh 15vw 0vh 5vw;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
}

::-moz-selection {
  background-color: #FF7F50;
}

::selection {
  background-color: #FF7F50;
}

body {
  background: #272727;
  color: #fff;
  font-weight: 700;
}

h1 {
  font-size: 50px;
  margin: 10vh 10vw 0vh 10vw;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10vh 10vw 0vh 10vw;
  font-size: 150px;
}

.typewrite {
  margin: 2vh 10vw 10vh 10vw;
  font-size: 50px;
}
/*# sourceMappingURL=main.css.map */